# Redis Cache
REDIS_NAME=redis
REDIS_KEY=paswd

# PostgreSQL Database
POSTGRES_NAME=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=paswd-sql
DATABASE_URL=postgresql://user:paswd-sql@postgres:5432/postgres
